name: Weekly Scraper

on:
  schedule:
    - cron: '0 8 * * 0'
  workflow_dispatch:

jobs:
  scrape-and-notify:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Run Scraper
        run: npm start
        env:
          NODE_ENV: production
          APP_MONGO_URI: ${{ secrets.APP_MONGO_URI }}
          APP_TELEGRAM_BOT_TOKEN: ${{ secrets.APP_TELEGRAM_BOT_TOKEN }}
          APP_TELEGRAM_CHAT_ID: ${{ secrets.APP_TELEGRAM_CHAT_ID }}
